:root {
  --darkColor: #023047;
  --light: #8ecae6;
  --footercolor: black;
  --Buttoncolor: #000;
}

.App {
  text-align: center;
}

.head {
  padding: 30;
  background-color: var(--darkColor);
  color: white;
}

.btn {
  padding: 10px;
  font-size: 1em;
}

.signinh4 {
  font-size: 34px;
  margin-bottom: 17px;
  margin-top: 36px;
}

.inp {
  border: 2px solid var(--light);
  padding: 10;
  font-size: 1em;
  outline: none;
}

.inp:focus {
  border: 2px solid var(--darkColor);
}

label.EmailLabel {
  margin-bottom: 10px;
  margin-top: 12px;
  text-align: left;
}

.setEmail {
  display: flex;
  justify-content: center;
  width: 84%;
  flex-direction: column;

}

.login3 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

.login {
  /* width: 100%; */
  height: 100vh;
}

.SignUp {
  height: 100vh;
}

.SignUp2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  height: 100%;
  align-content: space-around;
}

.login2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  /* height: 100%; */
  align-content: space-around;
}

.formLogin {
  flex-direction: column;
  margin-top: 172px;
  background-color: white;
  border-radius: 18px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 34%;
  margin-bottom: 287px;
}

.formLogin2 {
  /* display: flex; */
  flex-direction: column;
  margin-top: 100px;
  background-color: white;
  border-radius: 18px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 142px;
  width: 34%;
}

.HotelRegisteration {
  /* display: flex; */
  flex-direction: column;
  margin-top: 14px;
  background-color: white;
  border-radius: 18px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 142px;
  width: 46%;
}

textarea.enterDesc {
  position: relative;
  display: inline-block;
  width: 100% !important;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all .3s;
  display: inline-flex;
  height: 111px;
  outline: none;
  border-radius: 15px;
}

textarea.enterDesc:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}

textarea.enterDesc:active {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}

textarea.enterDesc:focus {
  border-color: #40a9ff;
  border-right-width: 2px !important;
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 143, 255, 0.248);
  border-right-width: 1px !important;
  outline: 0;
}

input.enterEmail {
  position: relative;
  display: inline-block;
  width: 100% !important;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all .3s;
  display: inline-flex;
  height: 40px;
  outline: none;
  border-radius: 15px;
}

input.enterEmail:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}

input.enterEmail:active {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}

input.enterEmail:focus {
  border-color: #40a9ff;
  border-right-width: 2px !important;
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 143, 255, 0.248);
  border-right-width: 1px !important;
  outline: 0;
}

button.LoginBtn {
  background-color: var(--Buttoncolor);
  color: white;
  font-size: 17px;
  border: none;
  height: 40px;
  width: 82%;
  margin: 22px;
  cursor: pointer;
  border-radius: 14px;
}

img.guestImg {
  width: 84px;
}

.Navlink {
  margin-bottom: 14px;
}

.ant-select.ant-select-single.ant-select-show-arrow {
  width: 100% !important;
  margin-top: 18px;
  height: 40px !important;
  /* border-radius: 44px !important; */
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  /* position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  transition: all .3s cubic-bezier(.645,.045,.355,1); */
  border-radius: 11px !important;
}

button.LoginButton {
  background-color: var(--Buttoncolor);
  color: white;
  font-size: 17px;
  border: none;
  height: 40px;
  width: 82%;
  margin: 40px;
  cursor: pointer;
  border-radius: 14px;
}

.ant-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 15px !important;
  transition: all .3s;
  display: inline-flex;
  height: 40px;
}

.ant-carousel {
  width: 70%;
}

/* .slick-slide{
  width: 1110px !important;
} */
img.slid-img {
  width: 100%;
  /* border-radius: 11px; */
}

.Carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 40px; */
}

@media screen and (max-width:1440px) {}

@media screen and (max-width:768px) {
  .formLogin {
    width: 54%;
  }
}

@media screen and (max-width:425px) {
  .formLogin {
    width: 90%;
  }
}

@media screen and (max-width:768px) {
  .formLogin2 {
    width: 54%;
  }
}

@media screen and (max-width:425px) {
  .formLogin2 {
    width: 90%;
  }
}




/* footer */
.ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

ul.li {
  /* outline: none; */
  list-style: none;
  text-align: left;
}

footer.footer {
  margin-top: 190px;
  background-color: var(--footercolor);
  color: white !important;
  padding-bottom: 25px;
}

.Footerh3 {
  color: white;
}






/* Cards */


.Cards3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0px;
}

.CardsH3 {
  margin: 0px;
  color: black;
  font-size: 18px;
}

p.CardsP {
  margin: 0px;
  font-size: 13px;
  color: #565656;
}

p.CardsPrice {
  font-size: 20px;
  color: #000;
  margin-bottom: 5px;
}

.CardsBTN {
  background-color: var(--Buttoncolor);
  color: white;
  font-size: 17px;
  border: none;
  height: 40px;
  width: 82%;
  margin: 10px 0px;
  cursor: pointer;
  border-radius: 14px;
}

.CardsBTN:hover {
  opacity: 0.2;
  color: white;
}

img.CardsIMG {
  width: 85%;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 238px;
}

.Cards4 {
  width: 100%;
  /* background-color: ghostwhite; */
  margin-bottom: 17px;
  border: 2px outset;
  border-radius: 16px;
  display: flex;
}
.CardsIMAGe {
  width: 30%;
}
.CardsParentH3 {
  width: 44%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.CardsPriceParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 26%;
}

.BookingCards3.container {
  display: flex;
  justify-content: space-evenly;
}
.BookingCards4 {
  width: 45%;
  border: 2px outset;
  border-radius: 14px;
}
/* cards */